<main id="main">
  <div class="container p-4">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="col-12 text-center">
          <h1>Datos del paciente</h1>
        </div>
        <div class="card text-white card-color mb-3">
          <div class="card-body">
            {{#each patients}} 
            <h3 class="card-title text-uppercase">
              Id del paciente:
               {{this.id}}
            </h3>
            <h3 class="card-title text-uppercase">
              Paciente:
              {{this.firstName}}
              {{this.lastName}}
            </h3>
            <h3 class="card-title text-uppercase">
              Genero:
              {{this.gender}}
            </h3>
            <h3 class="card-title text-uppercase">
              Altura:
              {{this.height}}
            </h3>
            <h3 class="card-title text-uppercase">
              Peso:
              {{this.weight}}
            </h3>
            <h3 class="card-title text-uppercase">
              Edad:
              {{this.age}}
            </h3>
            <h3 class="card-title text-uppercase">
              Teléfono:
              {{this.phone}}
            </h3>
            <h3 class="card-title text-uppercase">
              Sangre:
              {{this.blood}}
            </h3>
            {{/each}}
          </div>
          <div class="col-12">
            <a
              class="btn btn-primary"
              href="/api/patients/list/phone"
            >Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>