<main id="main">
    <div class="container p-4">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="col-12 text-center">
                    <h1>Datos del Doctor</h1>
                </div>
                <div class="card text-white card-color mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase">
                            Id:
                            {{doctor.id}}
                        </h3>
                        <h3 class="card-title text-uppercase">
                            Doctor:
                            {{doctor.firstName}} {{doctor.lastName}}
                        </h3>
                        <h3 class="card-title text-uppercase">
                            Cedula:
                            {{doctor.license}}
                        </h3>
                        <h3 class="card-title text-uppercase">
                            Teléfono:
                            {{doctor.phone}}
                        </h3>
                    </div>
                </div>
                <div class="col-12 p-1 text-center">
                    <a class="btn btn-primary" href="/api/doctor/list/id">Regresar</a>
                </div>
            </div>
        </div>
    </div>
</main>